* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-btn {
  font-size: 7em;
  cursor: pointer;
}

span {
  font-size: 3em;
  color: white;
}

.hidden {
  display: none;
}